{% extends 'no_footer_base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Contact Us</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="{% url 'contact_form_submission' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                    </div><br>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div><br>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message"></textarea>
                    </div><br>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
