{% extends 'no_footer_base.html' %}
{% load static %}

{% block content %}

<h1 style="text-align: center;">GALLERY</h1>
      <div class="row">
          {% for image in images %}
              <div class="col-md-4">
                  <div class="card">
                      
                    <img class="card-img-top" src="{{ image.thumbnail.url }}" alt="Card image cap">
                     
                    <div class="card-body">
                      <h5 class="card-title">{{ image.title }}</h5>
                      <p class="card-text">{{ image.detail }}</p>
                      <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
              </div>
          {% endfor %}
      </div>

 
{% endblock %}
