{% extends 'base.html' %}{% load static %} {% block content %}
    <div id="hero" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              
                <!-- First Slide -->
                <div class="carousel-item active">
                    <img src="{% static 'images/BackToGymSWEATf1f07a7f6f79e7b8807d2436a6ae8e8b.jpg' %}" class="d-block w-100" alt="Slide 1" style="height: 400px; width: 400px;">
                </div>
                <!-- Second Slide -->
                <div class="carousel-item">
                    <img src="{% static 'images/What-To-Do-If-Youre-Struggling-at-the-Gym.jpg' %}" class="d-block w-100" alt="Slide 2" style="height: 400px; width: 400px;">
                </div>
                <!-- Add more slides as needed... -->
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#hero" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#hero" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    </div>
    <div class="container">
      <h1 style="text-align: center;">SERVICES</h1>
      <div class="row">
          {% for service in services %}
              <div class="col-md-4">
                  <div class="card">
                    {% if service.image %}
                    <img class="card-img-top" src="{{ service.image.url }}" alt="Card image cap">
                     {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ service.title }}</h5>
                      <p class="card-text">{{ service.detail }}</p>
                      <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
              </div>
          {% endfor %}
      </div>
      <hr>
      <div class="about-container">

            <!-- About 1 - Bootstrap Brain Component -->
  <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="{% static 'images/pexels-anush-gorak-1431282.jpg' %}" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3">At JEFES Gym and Fitness, we believe that fitness and wellbeing are the cornerstones of a full and vibrant life. Established in 2002, we began our journey as a family-owned business dedicated to providing exceptional gym equipment at affordable prices. But, we dreamed bigger than just being an ordinary fitness equipment supplier; we aspired to lead the industry.

                Two decades later, we are proud to have transformed Gym and Fitness into one of Australia's premier online retailers of fitness equipment..</p>
              
              <div class="row gy-4 gy-md-0 gx-xxl-5X">
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                      </svg>
                    </div>
                    <div>
                      <h4 class="mb-3">Versatile Brand</h4>
                      <p class="text-secondary mb-0">We are crafting a digital method that subsists life across all mediums.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                      </svg>
                    </div>
                    <div>
                      <h4 class="mb-3">Digital Agency</h4>
                      <p class="text-secondary mb-0">Thrive is an award winning Gym digital marketing agency.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
        </div>
  </div>
  <hr>
  {% endblock %}
 